[core]
  excludesfile = ~/.gitignore_global
  pager = LESSCHARSET=utf-8 less
  quotepath = false
  ignorecase = false
  symlinks = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[pull]
  rebase = false
  ff = only
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[merge]
  ff = false
[diff "lockb"]
  textconv = bun
  binary = true
[alias]
  # git alias git aliasの一覧確認
  alias = !git config --get-regexp 'alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  # git pr ${branch-name} originから$1ブランチをpullし、現在のブランチを最新の$1ブランチへリベースする (git pull origin $1 && git rebase $1)
  pr = "!f(){ git pull origin $1 && git rebase $1;};f"
[init]
  defaultBranch = main
[include]
  path = ~/.gitconfig.user.local
[ghq]
root = ~/Documents/Project